@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.article-about {
  background-color: $color-grey-light-1;
  padding: $page-padding;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    gap: 8rem;
    width: 85%;
  }

  &__paragraphs {
    font-size: 1.8rem;
    line-height: $line-height-1;

    @include flex-column(1.6rem);
  }

  &__img-box {
    border-radius: 4px;
    overflow: hidden;

    @include respond(tab-port) {
      grid-row: 1;
    }
  }

  &__img {
    @include image-fit;
  }
}
