@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.article-about {
  background-color: $color-grey-light-1;
  padding: 8rem 0;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;

  &__paragraphs {
    font-size: 1.8rem;
    line-height: 1.7;

    @include flex-column(1.6rem);
  }

  &__img-box {
    border-radius: 4px;
    overflow: hidden;
  }

  &__img {
    @include image-fit();
  }
}
