.about {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 6.4rem;
  }

  &__paragraphs {
    font-size: 1.8rem;
    line-height: 1.7;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__img-box {
    height: 75%;
    border-radius: 4px;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
