@import "../abstracts/mixins";

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: $color-grey-dark-1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;

  @include respond(tab-land) {
    padding: 0 3.2rem;
  }
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: $color-grey-dark-2;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.18;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;

  @include respond(tab-land) {
    font-size: 4.4rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.subheading {
  display: inline-block;
  text-transform: uppercase;
  color: $color-primary;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-bottom: 0.8rem;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  color: $color-white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 1.2rem 3.2rem;
  background-color: $color-primary;
  @include transition;

  @include respond(tab-port) {
    padding: 1.6rem;
    font-size: 2.4rem;
  }

  &:hover {
    background-color: $color-primary-dark-1;
  }

  &--find {
    @include flex-vertical-center(1.6rem);
    color: $color-grey-dark-1;
    background-color: $color-white;

    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 4px $color-white;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--padding-left-right-sm {
    padding: 0.8rem 1.6rem;
  }
}

.btn-underline {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.6rem;
  color: $color-primary;
  margin-top: 3.2rem;
  cursor: pointer;
  padding-bottom: 0.4rem;
  border-bottom: 0.5px solid currentColor;
}

.section {
  padding: 6rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 120rem;
}

.price {
  &--sm {
    font-size: 1.6rem;
  }

  &--md {
    font-size: 1.8rem;
  }
}
