.featured-text-color {
  color: $color-grey-dark-3 !important;
}

.text-center {
  text-align: center;
}

.margin-bt-md {
  margin-bottom: 2.4rem !important;
}

.font-size-md {
  font-size: 3rem !important;
}
