$color-primary: #e67e22;

$color-primary-light-1: #fdf2e9;

$color-primary-dark-1: #cf711f;
$color-primary-dark-2: #b8651b;
$color-primary-dark-3: #733f11;
$color-primary-dark-4: #5c320e;
$color-primary-dark-5: #45260a;
$color-primary-dark-6: #2e1907;

$color-white: #fff;

$color-grey-light-1: #faf9f9;

$color-grey-dark-1: #555;
$color-grey-dark-2: #333;
$color-grey-dark-3: #888;
$color-grey-dark-4: #aaa;

// section padding
$section-padding: 9.6rem 0;
