@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.review {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 2.4rem;
  row-gap: 1.2rem;

  &__img-box {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    @include image-fit;
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: $color-grey-dark-2;
    margin-bottom: 0.8rem;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 2px;

    font-size: 1.6rem;
    color: $color-primary;
  }

  &__text {
    grid-row: 2;
    grid-column: 1 / -1;

    font-size: 1.6rem;
    line-height: $line-height-1;
  }
}
