@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.section-home-testimonials {
  padding: $section-padding;

  @include respond(tab-port) {
    padding: $section-padding-md;
  }
}

.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  align-items: start;
  gap: 3.2rem;
}

.read-more {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 6.4rem;

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 1.6rem;
    text-align: center;
  }

  &__btn {
    border: none;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    color: $color-grey-dark-2;
    font-weight: 400;
    cursor: pointer;
  }

  &__btn,
  &__icon {
    color: $color-grey-dark-2;
    @include transition;
    backface-visibility: hidden;
  }

  &__link:hover &__btn {
    text-decoration: underline;
  }

  &__link:hover &__icon {
    transform: translateX(4px);
  }
}
