@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.empty {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  height: calc(100vh - 90px);
  padding: 4.8rem 0;
  letter-spacing: 1.2px;
  color: $color-grey-dark-2;
  background-color: $color-grey-light-1;
  &__heading {
    margin-bottom: 1.2rem;
  }
}

.article-cart {
  padding: $page-padding;
  background-color: #f7f7f7;
}

.cart {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
  gap: 3.2rem;

  &__container {
    padding: 3.2rem;
    border-radius: 0.9rem;
    background-color: $color-white;
    box-shadow: $box-shadow-2;
  }

  &__content {
    @include flex-column(2.4rem);
  }
}
