@import "../../sass/abstracts/variable";

.menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  align-items: start;

  &__img-box {
    // width: 11rem;
    // height: 11rem;
    // transform: translateY(-2rem);

    width: 10rem;
    height: 10rem;
    transform: translateY(-1.5rem);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__ingredients {
    font-size: 1.6rem;
    margin-top: -0.8rem;
    color: $color-grey-dark-3;
  }
}
