@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  align-items: start;

  &__img-box {
    width: 10rem;
    height: 10rem;
    transform: translateY(-1.5rem);
  }

  &__img {
    @include image-fit();
    border-radius: 50%;
  }

  &__ingredients {
    font-size: 1.6rem;
    margin-top: -0.8rem;
    color: $color-grey-dark-3;
  }
}
