@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.menu {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 2.4rem;

  @include respond(phone) {
    column-gap: 1.6rem;
  }

  &__img-box {
    width: 10rem;
    height: 10rem;
  }

  &__img {
    @include image-fit;
    border-radius: 50%;
  }

  &__detail {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    column-gap: 2.4rem;
    row-gap: 0.6rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
      gap: 0.4rem;
    }
  }

  &__heading {
    line-height: 1;
    margin: 0 !important;

    @include respond(phone) {
      grid-row: 2;
    }
  }

  &__ingredients {
    font-size: 1.6rem;
    color: $color-grey-dark-3;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include respond(phone) {
      grid-row: 3;
    }
  }

  &__price {
    color: $color-grey-dark-2;

    @include respond(phone) {
      grid-row: 1;
    }
  }
}
