@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.cart {
  &__column {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) auto;
    align-items: center;
    justify-items: center;
    margin-bottom: 1.2rem;
    // for invisible icon to align with delete icon
    padding: 0 1.2rem;

    @include respond(phone) {
      display: none;
    }

    h5 {
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-grey-dark-2;
    }
  }

  &__icon-hidden {
    visibility: hidden;
  }
}
