@import "../../sass/abstracts/variable";

.error-api {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2.4rem;
  color: #ff1a1a;
  background-color: #ffcccc;
  // color: $color-white;
  // background-color: #dc3545;
}
