@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.dishes {
  background-color: $color-grey-light-1;
  padding-bottom: 8rem;

  &__hero {
    margin-bottom: 8rem;
    @include hero-background("../../assets/img/delivery.jpg");
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    list-style: none;
    gap: 1.5rem;
    background-color: $color-white;
    padding: 3.2rem;
    border-radius: 9px;
    box-shadow: $box-shadow-1;
  }

  &__list {
    padding: 9px;
    box-shadow: $box-shadow-2;
  }

  &__figure {
    height: 20rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
  }

  &__img {
    @include image-fit;
    @include transition;
  }

  &__list:hover &__img {
    transform: scale(1.05);
  }

  &__content {
    height: 8rem;
    font-weight: 400;
    color: $color-grey-dark-2;

    @include flex-column(0);
    justify-content: space-between;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 600;
    @include transition;
  }

  &__list:hover &__heading {
    text-decoration: underline;
  }
}
