@import "../../sass/abstracts/variable";

.sign-in {
  background-color: $color-grey-light-1;
  padding: 8rem 0;
}

.form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 4.8rem;
  background-color: $color-white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &__heading {
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-bottom: 4.8rem;
  }

  &__btn-box {
    margin-bottom: 2.4rem;
  }

  &__paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    font-size: 1.6rem;
  }

  &__toggle {
    display: inline-block;
    font-weight: 500;
    font-size: 1.6rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    letter-spacing: 1.05px;
    background-color: transparent;
  }
}
