@import "../../sass/abstracts/variable";

.sign-in {
  background-color: $color-grey-light-1;
  padding: $section-padding;
}

.form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 4.8rem;
  background-color: $color-white;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-bottom: 3.2rem;
  }
}
