@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variable";
@import "../../sass/base/utilities";

.section-featured {
  padding: 2.4rem 0 6.4rem 0;
  background-color: $color-primary-light-1;

  @include respond(tab-port) {
    padding: 2.4rem 0 4.8rem 0;
  }
}

.logos {
  @include flex-vertical-center(8rem);
  justify-content: center;

  @include respond(tab-port) {
    gap: 6.4rem;
  }
  @include respond(phone) {
    gap: 3.2rem;
  }

  img {
    height: 5.2rem;
    filter: brightness(0);
    opacity: 50%;

    @include respond(tab-port) {
      height: 4.4rem;
    }
    @include respond(phone) {
      height: 3rem;
    }
  }
}
