@import "../../sass/index.scss";
@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variable";

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4.8rem;
  padding: 1.6rem 4.8rem;
  background-color: $color-primary-light-1;
  position: relative;

  @include respond(tab-land) {
    padding: 1.6rem 3.2rem;
    gap: 3.2rem;
  }
  @include respond(tab-port) {
    grid-template-columns: 1fr auto;
  }
  @include respond(phone) {
    padding: 1.6rem;
  }
}

.main-nav {
  @include flex-vertical-center(s);
  justify-content: space-between;

  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;

  @include respond(tab-port) {
    display: block;
    font-size: 3rem;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    overflow: auto;
    background-color: $color-white;
    transform: translateX(100%);
    @include transition;

    // Hide navigation
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__list-1,
  &__list-2 {
    @include flex-vertical-center(3.2rem);
    list-style: none;

    @include respond(tab-land) {
      @include flex-vertical-center(2.4rem);
    }
    @include respond(tab-port) {
      gap: 0;
    }
  }

  &__list-1 {
    @include respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 18rem;
      margin-bottom: 6.4rem;
    }
    @include respond(phone) {
      margin-top: 14rem;
      margin-bottom: 2.4rem;
    }
  }

  &__list-1 li {
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__list-1 &__link {
    @include respond(tab-port) {
      padding: 2.4rem;
      padding-left: 4.8rem;
    }
    @include respond(phone) {
      padding-left: 2.4rem;
    }
  }

  &__list-1 &__link:hover {
    @include respond(tab-port) {
      background-color: $color-primary-light-1;
    }
  }

  &__list-2 {
    @include respond(tab-port) {
      justify-content: center;
      gap: 6.4rem;
    }
    @include respond(phone) {
      @include flex-column(0);
      align-items: flex-start;
    }
  }

  &__list-2 &__link {
    @include respond(phone) {
      padding: 2.4rem;
    }
  }

  &__list-2 li:last-child {
    @include respond(phone) {
      padding-left: 2.4rem;
    }
  }

  &__icon {
    font-size: 2.4rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }

  &__user {
    color: $color-grey-dark-1;
  }

  &__link {
    @include flex-vertical-center(0.4rem);
    text-decoration: none;
    @include transition;

    &:link,
    &:visited {
      color: $color-grey-dark-2;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  & .active {
    color: $color-primary;
  }
}

.btn-mobile-nav {
  display: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  z-index: 99999;

  &--close {
    position: fixed;
    top: 2.4rem;
    right: 3.2rem;

    @include respond(phone) {
      top: 1.6rem;
      right: 1.6rem;
    }
  }

  @include respond(tab-port) {
    display: block;
  }
}

.icon-mobile-nav {
  font-size: 5.2rem;
  color: $color-grey-dark-2;
}

// show navigation
.sidebar-open .main-nav {
  @include respond(tab-port) {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
  }
}
