@import "../../sass/abstracts/variable";
@import "../../sass/base/typography";

.section-home-menu {
  padding: $section-padding;

  background-image: linear-gradient(
      to bottom right,
      rgba($color-white, 0.9),
      rgba($color-white, 0.9)
    ),
    url(../../assets/img/homeMenu.jpg);

  background-size: cover;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  margin-bottom: 4.8rem;
}

.menu-link-box {
  text-align: center;
}
