@import "../../sass/abstracts/mixins";

.food {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__figure {
    height: 45rem;
  }

  &__img {
    @include image-fit;
  }

  &__content {
  }

  &__more-info {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}
