@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variable";

.reservation {
  &__hero {
    @include hero-background("../../assets/img/reserve.jpg");
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    row-gap: 3.2rem;
    column-gap: 2.4rem;
    margin: $page-padding;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
      margin: $page-padding-md;
    }
  }

  &__btn-box {
    grid-column: 2 / 3;

    @include respond(tab-port) {
      grid-column: 1 / -1;
    }
  }
}
