.reservation {
  &__hero {
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url("../../assets/img/reserve.jpg");
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    row-gap: 3.2rem;
    column-gap: 2.4rem;

    padding: 8rem 0;
  }

  &__btn-box {
    grid-column: 2 / 3;
  }
}
