@import "../../sass/abstracts/variable";

.section-error {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-grey-light-1;
  padding: 2.4rem;
}

.error {
  max-width: 70rem;

  &__img {
    display: block;
    width: 40vw;
    margin-bottom: 3.2rem;
  }

  &__content {
    font-size: 1.6rem;
  }

  &__text:not(:last-child) {
    line-height: 1.7;
  }

  &__btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.6rem;
    text-decoration: underline;
    color: $color-primary;
    margin-top: 3.2rem;
    cursor: pointer;
  }
}
